---
import Container from "@components/Container/Container.astro";
import Heading from "@components/Heading/Heading.astro";
import SectionFull from "@components/Section/SectionFull/SectionFull.astro";
---

<SectionFull class="bg-white lg:pt-52">
  <Container>
    <Heading level="1" size="2" class="text-center lg:max-w-2xl mx-auto">
      Let’s talk and explore the pathway to your visions and dreams.
    </Heading>

    <div class="flex flex-col lg:flex-row w-full mt-14 lg:mt-28">
      <div class="lg:w-1/2">[contact info]</div>

      <div class="lg:w-1/2">[contact form]</div>
    </div>
  </Container>
</SectionFull>
