---
import BackToTop from "@modules/BackToTop/BackToTop.astro";
import Footer from "@modules/Footer/Footer.astro";
import ContactFormSection from "./ContactFormSection/ContactFormSection.astro";
import InstagramSection from "./InstagramSection.astro";
import HelpSection from "./HelpSection.astro";
import GoalSection from "./GoalSection.astro";
---

<main>
  <ContactFormSection />
  <InstagramSection />
  <HelpSection />
  <GoalSection />
  <BackToTop />
  <Footer />
</main>
