---
import Button from "@components/Button/Button.astro";
---

<div class="flex justify-center px-4 py-6 lg:py-10 bg-white">
  <Button type="link" variant="underlined" href="#">Back to top</Button>
</div>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
</style>
