---
import { Image } from "astro:assets";
import heroImage from "./hero-interior.webp";
import Button from "../Button/Button.astro";
import Heading from "../Heading/Heading.astro";
---

<section class="flex flex-col md:flex-row">
  <div class="flex order-2 md:order-1 justify-end md:w-1/2 md:pt-96 bg-blue">
    <div class="md:max-w-container-1/2 px-4 py-8 md:pr-10 md:pb-24">
      <Heading level="1">
        We create spaces that <span class="italic tracking-tight">inspire</span>
        and fill with
        <span class="italic tracking-tight">positive</span> energy.
      </Heading>

      <p class="mt-4 md:mt-6 text-xs md:text-lg leading-snug">
        Imagery Interiors is more than just design. We care about individuality
        and enhancing the lifestyle of our clients.
      </p>

      <Button
        type="link"
        variant="underlined"
        class="inline-block mt-6 md:mt-14"
        href="/"
      >
        Read more
      </Button>
    </div>
  </div>

  <div class="order-1 md:order-2 relative h-96 md:h-auto md:w-1/2">
    <Image
      src={heroImage}
      alt="Interior design"
      class="absolute object-cover w-full h-full"
    />
  </div>
</section>
