---
import HeroSection from "./HeroSection.astro";
import ProjectsSection from "./ProjectsSection.astro";
import WeAreSection from "./WeAreSection.astro";
---

<main>
  <HeroSection />
  <ProjectsSection />
  <WeAreSection />
</main>
