---
import FooterMenuItem from "./FooterMenuItem.astro";
import FooterMenuList from "./FooterMenuList.astro";
import FooterMenuTitle from "./FooterMenuTitle.astro";
---

<nav class="flex justify-between">
  <div class="flex gap-10">
    <div>
      <FooterMenuTitle>Studio</FooterMenuTitle>
      <FooterMenuList>
        <FooterMenuItem
          ><a href={`${import.meta.env.BASE_URL}process`}>Process</a
          ></FooterMenuItem
        >
        <FooterMenuItem
          ><a href={`${import.meta.env.BASE_URL}projects`}>Projects</a
          ></FooterMenuItem
        >
      </FooterMenuList>
    </div>

    <div>
      <FooterMenuTitle>Connect</FooterMenuTitle>
      <FooterMenuList>
        <FooterMenuItem
          ><a href={`${import.meta.env.BASE_URL}contact`}>Contact</a
          ></FooterMenuItem
        >
      </FooterMenuList>
    </div>
  </div>

  <div>
    <FooterMenuTitle>Find us</FooterMenuTitle>
    <p class="text-sm text-lightBlack">
      Lochend Road, Knightsbridge<br />London G69 8BD
    </p>
  </div>
</nav>
