---
import BackToTop from "@modules/common/BackToTop/BackToTop.astro";
import Footer from "@modules/common/Footer/Footer.astro";
import InstagramSectionTop from "@modules/instagram/InstagramSectionTop.astro";
import ContactFormSection from "./ContactFormSection/ContactFormSection.astro";
import GoalSection from "./GoalSection.astro";
import HelpSection from "./HelpSection.astro";
---

<main>
  <ContactFormSection />
  <InstagramSectionTop />
  <HelpSection />
  <GoalSection />
  <BackToTop />
  <Footer />
</main>
