---
import Heading from "@components/Heading/Heading.astro";
import SectionHalf from "@components/Section/SectionHalf/SectionHalf.astro";
import SectionHalfContent from "@components/Section/SectionHalf/SectionHalfContent.astro";
import SectionHalfImage from "@components/Section/SectionHalf/SectionHalfImage.astro";
import { Button } from "@components/Button";
import { getBaseUrl } from "@utils/getBaseUrl";
import interior8 from "./assets/interior8.jpg";

const baseUrl = getBaseUrl();
---

<SectionHalf>
  <SectionHalfContent
    layout="center"
    class="bg-brown min-h-[380px] lg:min-h-[720px]"
  >
    <div class="text-center max-w-[430px]">
      <Heading level="2">We can help to bring your dreams to life.</Heading>

      <p class="mt-6">
        Over the last two decades our architects, offering their knowledge and
        experience, create unique designs tailored to the needs of our clients.
      </p>

      <Button
        type="link"
        variant="underlined"
        href={`${baseUrl}/story`}
        className="mt-6 lg:mt-14"
      >
        Our story
      </Button>
    </div>
  </SectionHalfContent>

  <SectionHalfImage
    src={interior8}
    alt="Interior design"
    class="object-center lg:object-bottom"
  />
</SectionHalf>
