---
import TopBarMenu from "./TopBarMenu/TopBarMenu.astro";
import TopBarMenuItem from "./TopBarMenu/TopBarMenuItem.astro";
---

<nav class="w-full flex sticky z-20 top-0 border-b border-black">
  <TopBarMenu class="w-1/4">
    <TopBarMenuItem href="/contact" border> Contact </TopBarMenuItem>
    <TopBarMenuItem href="/projects">Projects</TopBarMenuItem>
  </TopBarMenu>

  <div class="w-2/4 flex justify-center">
    <a href="/" class="flex items-center">
      <img src="/logo.svg" alt="Imagery Interiors logo" class="w-28" />
    </a>
  </div>

  <TopBarMenu class="w-1/4" end>
    <TopBarMenuItem href="/process">Process</TopBarMenuItem>
  </TopBarMenu>
</nav>
