---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<div>
  <Image
    src={project.data.cover.image}
    alt={project.data.cover.alt}
    widths={[400, 1024, 1920, project.data.cover.image.width]}
    sizes={`(max-width: 400px) 400px, (max-width: 1024px) 1024px, (max-width: 1920) 1920px, ${project.data.cover.image.width}`}
    quality="high"
    class="w-full"
  />
</div>
