---
import BackToTop from "@modules/common/BackToTop/BackToTop.astro";
import Footer from "@modules/common/Footer/Footer.astro";
import type { CollectionEntry } from "astro:content";
import HeadingSection from "./HeadingSection.astro";
import CoverSection from "./CoverSection.astro";
import DescriptionSection from "./DescriptionSection.astro";

interface Props {
  project: CollectionEntry<"projects">;
  projects: CollectionEntry<"projects">[];
}

const { project, projects } = Astro.props;
const { Content } = await project.render();
---

<main>
  <HeadingSection project={project} projects={projects} />
  <CoverSection project={project} />
  <DescriptionSection project={project} />
  <Content />
  <div>[Image & text]</div>
  <div>[Gallery (slider)]</div>
  <div>[More projects (nav)]</div>
  <div>[Our team]</div>
  <BackToTop />
  <Footer />
</main>
