.swiper-pagination.swiper-pagination-horizontal.swiper-pagination-bullets {
  position: absolute;
  bottom: theme(spacing.28);
  display: flex;
  justify-content: center;
  gap: theme(gap.4);
  z-index: 20;

  @media screen(lg) {
    bottom: theme(spacing.52);
  }

  .swiper-pagination-bullet {
    display: inline-block;
    border: 0;
    background: none;
    width: auto;
    height: auto;
    opacity: 1;
    margin: 0;
    color: theme(colors.black);
    font-size: theme(fontSize.lg);
    font-family: theme(fontFamily.sans);
    font-weight: theme(fontWeight.normal);
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    color: theme(colors.white);
  }
}
