---
import { isActivePath } from "@utils/isActivePath";

interface Props {
  href: string;
  border?: boolean;
}

const { border = false, href } = Astro.props;
const isActive = isActivePath(Astro, href);
---

<li>
  <a
    href={href}
    class:list={["block px-10 py-10 font-normal text-lg", border && "border-r"]}
  >
    <span
      class:list={[
        "relative inline-block",
        isActive &&
          'after:content-[""] after:w-full after:h-[2px] after:bg-black after:absolute after:left-0 after:bottom-0',
      ]}
    >
      <slot />
    </span>
  </a>
</li>
