---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Imagery Interiors">
  <main>
    HOME <br />HOME <br />HOME <br />HOME <br />HOME <br />
    HOME <br />HOME <br />HOME <br />HOME <br />HOME <br />
    HOME <br />HOME <br />HOME <br />HOME <br />HOME <br />
    HOME <br />HOME <br />HOME <br />HOME <br />HOME <br />
    HOME <br />HOME <br />HOME <br />HOME <br />HOME <br />
    HOME <br />HOME <br />HOME <br />HOME <br />HOME <br />
  </main>
</Layout>

<style></style>
