<button
  class="top-bar-mobile-button group w-[26px] h-[18px] flex flex-col gap-1.5 lg:hidden absolute left-5"
>
  <span
    class="block w-[26px] h-[2px] transition-all duration-300 bg-lightBlack group-[.active]:rotate-45 group-[.active]:translate-y-[7px]"
  ></span>
  <span
    class="block w-[26px] h-[2px] transition-all duration-75 bg-lightBlack group-[.active]:opacity-0"
  ></span>
  <span
    class="block w-[26px] h-[2px] transition-all duration-300 bg-lightBlack group-[.active]:-rotate-45 group-[.active]:-translate-y-[9px]"
  ></span>
  <span class="sr-only">Menu</span>
</button>
