---
import { Button } from "@components/Button";
import { isActivePath } from "@utils/isActivePath";

interface Props {
  href: string;
}

const { href } = Astro.props;
const isActive = isActivePath(Astro, href, 1);
---

<Button
  type="link"
  variant="secondary"
  href={href}
  className={`p-4 text-xl ${isActive ? "font-extrabold" : ""}`}
>
  <slot />
</Button>
