---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Imagery Interiors - Projects">
  <main>
    <!-- TODO: use content collections and dynamic routing -->
    [projects page]
  </main>
</Layout>
