---
import heroImage from "./assets/hero-interior.webp";
import { Button } from "@components/Button";
import Heading from "@components/Heading/Heading.astro";
import SectionHalf from "@components/Section/SectionHalf/SectionHalf.astro";
import SectionHalfContent from "@components/Section/SectionHalf/SectionHalfContent.astro";
import SectionHalfImage from "@components/Section/SectionHalf/SectionHalfImage.astro";
---

<SectionHalf fullHeight>
  <SectionHalfContent class="bg-blue" classInner="lg:pt-10" layout="end">
    <Heading level="1">
      We create spaces that <span class="italic tracking-tight">inspire</span>
      and fill with
      <span class="italic tracking-tight">positive</span> energy.
    </Heading>

    <p class="mt-4 lg:mt-6 text-sm lg:text-lg leading-snug">
      Imagery Interiors is more than just design. We care about individuality
      and enhancing the lifestyle of our clients.
    </p>

    <Button
      type="link"
      variant="underlined"
      className="inline-block mt-6 lg:mt-14"
      href="/"
    >
      Read more
    </Button>
  </SectionHalfContent>

  <SectionHalfImage alt="Interior design" src={heroImage} />
</SectionHalf>
