---
import heroImage from "./assets/hero-interior.webp";
import Button from "@components/Button/Button.astro";
import Heading from "@components/Heading/Heading.astro";
import SectionHalf from "@components/Section/SectionHalf/SectionHalf.astro";
import SectionHalfContent from "@components/Section/SectionHalf/SectionHalfContent.astro";
import SectionHalfImage from "@components/Section/SectionHalf/SectionHalfImage.astro";
---

<SectionHalf>
  <SectionHalfContent class="bg-blue">
    <Heading level="1" class="lg:mt-64">
      We create spaces that <span class="italic tracking-tight">inspire</span>
      and fill with
      <span class="italic tracking-tight">positive</span> energy.
    </Heading>

    <p class="mt-4 md:mt-6 text-xs md:text-lg leading-snug">
      Imagery Interiors is more than just design. We care about individuality
      and enhancing the lifestyle of our clients.
    </p>

    <Button
      type="link"
      variant="underlined"
      class="inline-block mt-6 md:mt-14"
      href="/"
    >
      Read more
    </Button>
  </SectionHalfContent>

  <SectionHalfImage alt="Interior design" src={heroImage} />
</SectionHalf>
