---
import FeaturedSection from "./FeaturedSection.astro";
import HeroSection from "./HeroSection.astro";
import HowItWorksSection from "./HowItWorksSection.astro";
import InstagramSection from "./InstagramSection.astro";
import OurTeamSection from "./OurTeamSection.astro";
import ProjectsSection from "./ProjectsSection.astro";
import ReviewsSection from "./ReviewsSection.astro";
import WeAreSection from "./WeAreSection.astro";
---

<main>
  <HeroSection />
  <ProjectsSection />
  <WeAreSection />
  <HowItWorksSection />
  <ReviewsSection />
  <OurTeamSection />
  <FeaturedSection />
  <InstagramSection />
</main>
