---
import Footer from "@modules/Footer/Footer.astro";
import FeaturedSection from "./FeaturedSection.astro";
import HeroSection from "./HeroSection.astro";
import HowItWorksSection from "./HowItWorksSection.astro";
import InstagramSection from "./InstagramSection.astro";
import OurTeamSection from "./OurTeamSection.astro";
import ProjectsSection from "./ProjectsSection.astro";
import ReviewsSection from "./ReviewsSection.astro";
import WeAreSection from "./WeAreSection.astro";
import BackToTop from "@modules/BackToTop/BackToTop.astro";
---

<main>
  <HeroSection />
  <ProjectsSection />
  <WeAreSection />
  <HowItWorksSection />
  <ReviewsSection />
  <OurTeamSection />
  <FeaturedSection />
  <InstagramSection />
  <BackToTop />
  <Footer />
</main>
