---
import Footer from "@modules/Footer/Footer.astro";
import FeaturedSection from "./FeaturedSection.astro";
import HeroSection from "./HeroSection.astro";
import HowItWorksSection from "./HowItWorksSection.astro";
import InstagramSection from "./InstagramSection.astro";
import OurTeamSection from "./OurTeamSection.astro";
import ProjectsSection from "../ProjectsSection/ProjectsSection.astro";
import WeAreSection from "./WeAreSection.astro";
import BackToTop from "@modules/BackToTop/BackToTop.astro";
import ReviewsSection from "@modules/ReviewsSection/ReviewsSection.astro";
---

<main>
  <HeroSection />
  <ProjectsSection
    title="We believe in the remarkable power of design to influence the quality of life."
    linkHref="/projects"
  />
  <WeAreSection />
  <HowItWorksSection />
  <ReviewsSection />
  <OurTeamSection />
  <FeaturedSection />
  <InstagramSection />
  <BackToTop />
  <Footer />
</main>
