---
import SectionHalf from "@components/Section/SectionHalf/SectionHalf.astro";
import SectionHalfContent from "@components/Section/SectionHalf/SectionHalfContent.astro";
import SectionHalfImage from "@components/Section/SectionHalf/SectionHalfImage.astro";
import weAreImage from "./assets/interior3.webp";
import Heading from "@components/Heading/Heading.astro";
import Button from "@components/Button/Button.astro";
---

<SectionHalf>
  <SectionHalfImage src={weAreImage} alt="Interior design" />

  <SectionHalfContent center class="bg-lightGray">
    <div class="text-center max-w-[500px]">
      <Heading level="2">How it all works</Heading>

      <p class="mt-6">
        Thanks to our work system, the client can see many different
        possibilities, refine the concept and analyze the best solutions and
        details.
        <br /><br />
        The final design is an original combination of personalized needs and expectations.
      </p>

      <Button type="link" href="#" variant="underlined" class="mt-14">
        Our process
      </Button>
    </div>
  </SectionHalfContent>
</SectionHalf>
