---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  alt: string;
  src: ImageMetadata;
  class?: any;
}

const { alt, src, class: className } = Astro.props;
---

<div class="relative h-96 lg:h-auto lg:w-1/2 order-1 lg:order-none">
  <Image
    src={src}
    alt={alt}
    widths={[400, 1024, 1920, src.width]}
    sizes={`(max-width: 400px) 400px, (max-width: 1024px) 1024px, (max-width: 3840px) 1920px, ${src.width}`}
    class:list={["absolute object-cover w-full h-full", className]}
  />
</div>
