---
const { class: className } = Astro.props;
---

<div
  class:list={[
    "flex lg:justify-end lg:w-1/2 py-8 lg:py-24 order-2 lg:order-none",
    className,
  ]}
>
  <div class="lg:max-w-container-1/2 px-4">
    <slot />
  </div>
</div>
