---
export type SectionHalfContentLayout = "default" | "center" | "end";

interface Props {
  class?: string;
  classInner?: string;
  layout?: SectionHalfContentLayout;
}

const { class: className, classInner, layout = "default" } = Astro.props;
---

<div
  class:list={[
    "group flex lg:[&:nth-child(1)]:justify-end lg:w-1/2 py-8 lg:py-24 order-2 lg:order-none",
    className,
  ]}
>
  <div
    class:list={[
      "w-full lg:max-w-container-1/2 px-4 lg:group-odd:pr-10 lg:group-even:pl-10",
      layout === "center" && "flex justify-center items-center",
      layout === "end" && "lg:flex lg:flex-col lg:justify-end lg:items-start",
      classInner,
    ]}
  >
    <slot />
  </div>
</div>
