---
import MobileMenu from "./MobileMenu/MobileMenu.astro";
import MobileMenuButton from "./MobileMenu/MobileMenuButton.astro";
import TopBarMenu from "./TopBarMenu/TopBarMenu.astro";
import TopBarMenuItem from "./TopBarMenu/TopBarMenuItem.astro";
---

<script src="./script.ts"></script>

<nav class="sticky lg:fixed w-full z-20 top-0">
  <div
    class="top-bar-nav w-full flex border-b transition-colors duration-300 border-black"
  >
    <TopBarMenu class="hidden lg:flex lg:w-1/4">
      <TopBarMenuItem href="/contact" border>Contact</TopBarMenuItem>
      <TopBarMenuItem href="/projects">Projects</TopBarMenuItem>
    </TopBarMenu>

    <div class="relative w-full lg:w-2/4 p-5 flex justify-center">
      <MobileMenuButton />

      <a href="/" class="flex items-center">
        <img
          src="/logo.svg"
          alt="Imagery Interiors logo"
          class="hidden lg:block w-28"
        />
        <img
          src="/logo-inline.svg"
          alt="Imagery Interiors logo"
          class="block lg:hidden w-32"
        />
      </a>
    </div>

    <TopBarMenu class="hidden lg:flex lg:w-1/4" end>
      <TopBarMenuItem href="/process">Process</TopBarMenuItem>
    </TopBarMenu>
  </div>

  <MobileMenu />
</nav>
