---
import BackToTop from "@modules/BackToTop/BackToTop.astro";
import Footer from "@modules/Footer/Footer.astro";
import HeroSection from "./HeroSection.astro";
import StagesSection from "./StagesSection.astro";
import ProjectsSection from "@modules/ProjectsSection/ProjectsSection.astro";
import QuestionsSection from "./QuestionsSection.astro";
import HelpSection from "./HelpSection.astro";
---

<main>
  <HeroSection />
  <StagesSection />
  <ProjectsSection
    title="Need some inspiration? Right this way to see our recent projects."
    linkHref="/projects"
  />
  <QuestionsSection />
  <HelpSection />
  <BackToTop />
  <Footer />
</main>
