---
import SectionHalf from "@components/Section/SectionHalf/SectionHalf.astro";
import SectionHalfContent from "@components/Section/SectionHalf/SectionHalfContent.astro";
import SectionHalfImage from "@components/Section/SectionHalf/SectionHalfImage.astro";
import weAreImage from "./assets/interior2.webp";
import Heading from "@components/Heading/Heading.astro";
import { Button } from "@components/Button";
---

<SectionHalf>
  <SectionHalfContent
    layout="center"
    class="bg-brown min-h-[380px] lg:min-h-[720px]"
  >
    <div class="text-center w-full max-w-[500px]">
      <Heading level="2">We are Imagery Interiors</Heading>

      <p class="mt-6">
        Founded in 2004, Imagery Interiors is a multi award-winning interior
        design studio based in Knightsbridge, London.
        <br /><br />
        Over the last two decades our architects, offering their knowledge and experience,
        create unique designs tailored to the needs of our clients.
      </p>

      <Button
        type="link"
        href={`${import.meta.env.BASE_URL}story" variant="underlined" className="mt-14`}
      >
        Our story
      </Button>
    </div>
  </SectionHalfContent>

  <SectionHalfImage src={weAreImage} alt="Interior design" />
</SectionHalf>
