---
import BackToTop from "@modules/common/BackToTop/BackToTop.astro";
import Footer from "@modules/common/Footer/Footer.astro";
import HeroSection from "./HeroSection.astro";
import StagesSection from "./StagesSection.astro";
import QuestionsSection from "./QuestionsSection.astro";
import HelpSection from "./HelpSection.astro";
import ProjectsSection from "@modules/projects/ProjectsSection/ProjectsSection.astro";
import { getBaseUrl } from "@utils/getBaseUrl";
---

<main>
  <HeroSection />
  <StagesSection />
  <ProjectsSection
    title="Need some inspiration? Right this way to see our recent projects."
    linkHref={`${getBaseUrl()}/projects`}
  />
  <QuestionsSection />
  <HelpSection />
  <BackToTop />
  <Footer />
</main>
